@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: #FFFFFF;
  --background-start-rgb: #FFFFFF;
  --background-end-rgb: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #5E5D5E;
  background: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.loader {
  border: 4px solid #EDA619;
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 4px solid #EDA619;
  border-left-color: transparent;
  width: 106px;
  height: 106px;
}

.loader {
  border: 17px solid #EDA619;
  border-left-color: transparent;
  width: 100px;
  height: 100px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}